.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12.86px;
  background-color: #fff;
  width: 1183.15px;
  height: 371.04px;
}
.locofy-logo-1 {
  position: absolute;
  top: 46.79px;
  left: 37.38px;
  width: 253.99px;
  height: 76.52px;
  object-fit: cover;
}
.group-9-icon,
.group-9-icon1 {
  position: absolute;
  height: 26.47%;
  width: 8.69%;
  top: 9.39%;
  right: 46.6%;
  bottom: 64.15%;
  left: 44.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
}
.group-9-icon1 {
  height: 30.03%;
  width: 9.86%;
  top: 66.15%;
  right: 23.11%;
  bottom: 3.82%;
  left: 67.03%;
}
.import {
  color: #6967da;
}
.span {
  color: #40495e;
}
.react {
  color: #4fc786;
}
.import-react-from-react {
  margin: 0;
}
.import-home-uicss {
  margin: 0;
  color: #4fc786;
}
.homeuiprops {
  color: #f4596c;
}
.export-const-homeui-reactfun,
.header {
  margin: 0;
  color: #f4596c;
}
.header {
  color: #6967da;
}
.import-react-from-container1 {
  line-break: anywhere;
  width: 100%;
}
.import-react-from-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 17.78px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 505.43px;
  height: 231.48px;
  opacity: 0.8;
}
.import-react-from-react-imp-wrapper {
  position: absolute;
  top: -104.35px;
  left: 661.54px;
  width: 505.43px;
  height: 231.48px;
  opacity: 0.2;
  color: #40495e;
  font-family: "Source Code Pro";
}
.plugin-mockup-icon {
  position: absolute;
  height: 145.55%;
  width: 22.24%;
  top: 20.98%;
  right: -2.14%;
  bottom: -66.53%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.7;
}
.get-locofy-plugin1 {
  position: absolute;
  top: 2.57px;
  left: 55.73px;
  text-decoration: underline;
  line-height: 37.52px;
  font-weight: 700;
  color: inherit;
}
.icon-plugin {
  position: absolute;
  height: 100%;
  width: 16.5%;
  top: 0;
  right: 83.5%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.get-locofy-plugin-parent {
  position: relative;
  width: 259.73px;
  height: 42.87px;
}
.guides {
  position: absolute;
  top: 0;
  left: 55.81px;
  text-decoration: underline;
  line-height: 37.52px;
  font-weight: 700;
  color: inherit;
}
.books-1-icon {
  position: absolute;
  height: 90.25%;
  width: 31.33%;
  top: 5.12%;
  right: 68.67%;
  bottom: 4.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.guides-parent {
  position: relative;
  width: 136.81px;
  height: 38px;
}
.group-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 42.41px;
}
.frame-wrapper2 {
  position: absolute;
  top: 288.28px;
  left: 37.38px;
  width: 438.95px;
  height: 42.87px;
  font-size: 25.72px;
  color: #457eff;
}
.ship-products-5x-container,
.turn-your-designs {
  position: absolute;
  top: 207.91px;
  left: 37.2px;
  font-size: 30.44px;
  line-height: 39.44px;
  display: inline-block;
  width: 1003.1px;
}
.turn-your-designs {
  top: 149.81px;
  left: 37.38px;
  font-size: 39.87px;
  line-height: 47.15px;
  font-family: Alegreya;
  width: 1004.01px;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1183.15px;
  height: 371.04px;
  text-align: left;
  font-size: 11.86px;
  color: #485269;
  font-family: Roboto;
}
